html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  padding-right: 4rem;
  padding-left: 4rem;
  margin-bottom: 8rem;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3.2rem;
  font-size: 4rem;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

input {
  width: 100%;
  padding: 1.2rem 1rem;
}

input::placeholder {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

button {
  font-size: 1.2rem;
}

.submit-type-button {
  width: 100%;
  text-align: center;
  padding: 1.2rem 0;
}

ul {
  list-style: none;
}

@media screen and (min-width: 1024px) {
  h1 {
    margin-bottom: 4rem;
  }

  form {
    width: 60%;
    gap: 1.6rem;
    margin: 0 auto;
  }

  input {
    padding: 1.6rem 1.2rem;
  }

  button {
    font-size: 1.4rem;
  }

  .submit-type-button {
    padding: 1.6rem 0;
    margin-top: 0.8rem;
  }
}
