html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  margin-bottom: 8rem;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3.2rem;
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 1.2rem 1rem;
}

input::placeholder {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

textarea {
  width: 100%;
  padding: 1.2rem 1rem;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  h1 {
    margin-bottom: 4rem;
  }

  form {
    width: 60%;
    gap: 1.6rem;
    margin: 0 auto;
  }

  input {
    padding: 1.6rem 1.2rem;
  }

}
