.edit-form input, textarea {
  margin-top: 0.8rem;
}

.delete-button {
  width: 100%;
  text-align: center;
  padding: 1.6rem 0;
  font-size: 1.4rem;
  display: block;
  margin: 2.4rem auto 0 auto;
}

@media screen and (min-width: 1024px) {
  
  .edit-form {
    width: 80%;
  }

  .delete-button {
    width: 80%;
  }
}