.feed {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.button-dark {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.2rem;
  background-color: #4e4d4d;
  color: #fff;
  border-radius: 3px;
}

.new-post-button-mobile {
  position: fixed;
  bottom: 8%;
  right: 5%;
}

.new-post-button-desktop {
    display: none;
  }

.post-container {
  display: block;
  overflow: hidden;
}

.post-container figure {
  aspect-ratio: 3/2;
  border-radius: 7px 7px 0 0;
  margin: 0;
  overflow: hidden;
}

.post-container img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: fill;
}

.post-text-container {
  padding: .8rem .8rem 3.2rem .8rem;
  border-radius: 0 0 7px 7px;
  background-color: rgb(248, 244, 238);
}

.post-user-date, .post-tag-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.post-author {
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.post-author:hover {
  color: blue;
}

.post-tag-comment {
  margin: 1.2rem 0 1rem 0;
  gap: 2.4rem;
}


.user, .date {
  display: flex;
  align-items: center;
}

i {
  margin-right: 4px;
}

p, ul {
  margin: 0;
}

.tag-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.tag-item {
  border: 1px solid #000;
  padding: 0 1.6rem;
  border-radius: 5rem;
}

.comment {
  display: flex;
  align-items: center;
}

.post-title {
  font-size: 2.4rem;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {

  .feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .new-post-button-mobile {
    display: none;
  }

  .new-post-button-desktop {
    display: block;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .post-container img {
    transition: all 0.5s ease;
  }

  .post-container:hover img {
    transform: scale(1.1);
  }

  .post-text-container {
    flex-grow: 1;
  }
}