header {
  padding: 1.6rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header {
  align-items: flex-start;
  padding-bottom: 8rem;
}

header img {
  width: 10.4rem;
}

.header-nav {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.header-nav button {
  font-size: 1.4rem;
  padding: .6rem 1rem;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  header {
    padding: 4rem 6.4rem 0 6.4rem;
  }
  
  .post-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
  }

  .profile-header {
    align-items: flex-start;
    padding-bottom: 18.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  header img {
    width: 18.4rem;
  }

  .header-nav {
    gap: 1.6rem;
  }

  .header-nav button {
    font-size: 1.4rem;
    padding: 1.2rem;
  }
}
