.back-to-feed-on-profile {
  font-size: 1.4rem;
}

.update-button {
  font-size: 1.4rem;
  padding: .6rem 1rem;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 0 1.6rem auto;
}

.profile {
  width: 100%;
  display: flex;
  gap: .8rem;
  margin-bottom: 4.8rem;
}

.avatar {
  object-fit: contain;
  min-width: 6.4rem;
  max-width: 12.8rem;
}

.username {
  margin: 0 0 .8rem 0;
  font-size: 2.4rem;
  text-align: left;
}

.bio {
  font-size: 1.4rem;
  margin-bottom: .8rem;
}

.user-information {
  font-size: 1.4rem;
}

.user-information span {
  font-weight: 700;
}

.user-information ul {
  padding: 0;
  display: flex;
  gap: .8rem;
  margin-bottom: .5rem;
}

.user-information li {
  text-wrap: nowrap;
}

@media screen and (min-width: 1024px) {

  .update-button {
    padding: 1.2rem 1rem;
  }

  .profile {
    gap: 2.4rem;
    margin-bottom: 5.6rem;
  }

}