.back-to-feed {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.single-post {
    margin: 0 auto 4.8rem auto;
  }

.single-post-container h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.single-post-container img  {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: fill;
  border-radius: 7px 7px 0 0;
  margin-bottom: .8rem;
}

.user a {
  text-decoration: underline;
}

.single-post-tag-list {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}

.content {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.section-title {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.comment-list {
  padding: 0;
}

.comment-item {
  border-bottom: 1px solid #797878;
  padding: 2.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-delete-button {
  border: none;
  background-color: transparent;
}

.fa-trash-can {
  margin-right: 0;
  font-size: 1.4rem;
}

.comment-username {
  /* semibold */
  display: inline-block;
  font-weight: 700;
  margin-bottom: .8rem;
  font-size: 1.2rem;
  color: blue;
}

.comment-content {
  width: 100%;
  font-size: 1.4rem;
}

.comment-form {
  gap: 0;
  padding-top: 2.4rem;
  border-top: 1px solid #797878;
}

.comment-form p {
  font-size: 1.4rem;
  font-weight: 600;
}

.comment-form textarea {
  margin-bottom: 1rem;
}

.single-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.single-pagination-button {
  font-size: 1.4rem;
  border: none;
  background: transparent;
  padding: 0;
}

.fa-chevron-left {
  margin: 0 4px 0 0;
}

.fa-chevron-right {
  margin: 0 0 0 4px;
}

@media screen and (min-width: 1024px) {

  .back-to-feed {
    width: 80%;
    margin: 0 auto 4.8rem auto;
  }

  .back-to-profile-icon {
    margin-right: .8rem;
  }

  .single-post {
    width: 80%;
    margin: 0 auto 5.6rem auto;
  }

  .single-post-container h1 {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }

  .single-post-container img  {
    margin-bottom: 1.6rem;
  }

  .user a:hover {
    color: blue;
  }

  .single-post-tag-list {
    font-size: 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .content {
    margin-bottom: 5.6rem;
  }

  .comment-form {
    padding-top: 3.2rem;
    width: 100%;
  }

  .single-pagination {
    width: 80%;
    margin: 0 auto;
  }
}