.back-to-feed {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.single-post {
    margin-bottom: 4.8rem;
  }

.content-upper {
  margin-bottom: 3.2rem;
}

.content-upper h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.thumbnail  {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: fill;
  border-radius: 7px 7px 0 0;
  margin-bottom: .8rem;
}

.user a {
  text-decoration: underline;
}

.single-post-tag-list {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}

.content {
  font-size: 1.8rem;
  line-height: 1.5;
}

.section-title {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.comment-list {
  padding: 0;
}

.comment-item {
  border-bottom: 1px solid #797878;
  padding: 2.4rem 0;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-container {
  width: 100%;
}

.reply-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.reply-comment-item {
  background-color: #f0f0f0;
  padding: 1rem;
  margin-top: 1rem;
}

.reply-comment-item:first-child {
  margin-top: 0;
}

.reply-comment-container .user-info img {
  width: 2.4rem;
  height: 2.4rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: .8rem;
}

.comment-content {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-delete-button {
  border: none;
  background-color: transparent;
}

.reply-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 1.6rem;
  color: #939393;
  font-size: 1.2rem;
}

.fa-trash-can {
  margin-right: 0;
  font-size: 1.4rem;
}

.comment-username {
  /* semibold */
  display: inline-block;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
}

.comment-content {
  width: 100%;
  font-size: 1.4rem;
}

.comment-form {
  gap: 0;
  padding-top: 2.4rem;
  border-top: 1px solid #797878;
}

.my-username {
  font-size: 1.4rem;
  font-weight: 600;
}

.cancel {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  padding-left: 0;
}

.reply-message {
  margin-top: .8rem;
  font-size: 1.2rem;
}

.reply-to {
  font-weight: 600;
}

.comment-form textarea {
  margin-bottom: 1rem;
}

.single-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.single-pagination-button {
  font-size: 1.4rem;
  border: none;
  background: transparent;
  padding: 0;
}

.fa-chevron-left {
  margin: 0 4px 0 0;
}

.fa-chevron-right {
  margin: 0 0 0 4px;
}

@media screen and (min-width: 1024px) {

  .back-to-feed {
    margin-bottom: 4.8rem;
  }

  .back-to-profile-icon {
    margin-right: .8rem;
  }

  .single-post {
    width: 80%;
    margin: 0 auto 5.6rem auto;
  }

  .content-upper {
    margin-bottom: 5.6rem;
  }

  .content-upper h1 {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }

  .thumbnail  {
    margin-bottom: 1.6rem;
  }

  .user a:hover {
    color: blue;
  }

  .single-post-tag-list {
    font-size: 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .comment-item {
    padding: 2.4rem 1.6rem;
  }

  .comment-form {
    padding-top: 3.2rem;
    width: 100%;
  }

  .single-pagination {
    width: 80%;
    margin: 0 auto;
  }
}