.content-text {
  font-size: $font-size-md;
}

.comment-list {
  .comment-item {
    margin-top: 1rem;
    border-top: solid 1px $black;
  }

  & :first-child {
    margin-top: 0;
    border: none;
  }

  & :last-child {
    border-bottom: none;
  }
}

.user-info {
  img {
    width: 1.875rem;
    height: 1.875rem;
  }
}
