.link-underline {
  text-decoration: underline;
}

.content-text {
  font-size: $font-size-md;
}

.comment-list {
  .comment-item {
    margin-top: 1rem;
    border-bottom: solid 1px #000;
  }
  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    border-bottom: none;
  }
}

.user-info {
  img {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.back-to-profile-page,
.user,
.date,
.comment-text,
.user-info,
.reply-button,
.my-username,
.reply-message,
.btn-text-sm,
.single-pagination {
  font-size: $font-size-sm;
}

$breakpoint-lg: map-get($grid-breakpoints, lg);

@media screen and (min-width: $breakpoint-lg) {
  .single-post {
    width: 80%;
  }

  .single-pagination {
    width: 80%;
  }
}
