@import url(_reset.css);

body {
  background-color: #131318;
  color: #d6d6d6;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#postsContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.postContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #d6d6d6;
  width: 402px;
}

.postContainer img{
  width: 400px;
  height: 400px;
}

Button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
}

Button:hover {
    background-color: #0056b3;
}

#homeButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
}

#homeButton:hover {
    background-color: #0056b3;
}

